NODE_ENV=development
APP_PORT=3000

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

S3_ENDPOINT=http://minio:9000
S3_BUCKET=stalker
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_REGION=us-east-1

PAYLOAD_SECRET=dev-secret

