networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
  minio_data:

services:
  app:
    build:
      context: ..
      dockerfile: docker/app/Dockerfile
      args:
        DATABASE_URL_BUILD: ${DATABASE_URL_BUILD:-postgresql://postgres:postgres@host.docker.internal:5432/postgres}
    env_file:
      - ../.env
    depends_on:
      - postgres
      - minio
    ports:
      - "3000:3000"
    networks:
      - app-network

  postgres:
    build:
      context: ./postgres
    env_file:
      - ../.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  minio:
    build:
      context: ./minio
    env_file:
      - ../.env
    environment:
      MINIO_ROOT_USER: ${S3_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${S3_SECRET_KEY}
    command: server /data --address ":9000" --console-address ":9001"
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    networks:
      - app-network

